.containerHome{
    display: flex;
    flex-direction: column;
}
.introductieHome{
    color: white;
    font-weight: bold;
    font-size: 36px;
    flex: 3;
}

.HomeBanner{
    width:540px;
    padding:20px;
    padding-top: 45px !important;
    box-shadow: 0px 10px 38px -3px rgba(0,0,0,0.1);
    background-color: #E8231A ;
    text-align: center;
    align-items: center;
}

.EnkeltjeIntro{
    width: 100%;
}

#homeimg{
    max-width:540px;
}

.HomeIntroduction{
    padding: 10px 25px;
    font-size: 20px;
    text-align: center;
}


.HomeBewTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size:33px;

}