
.loginTitle{
    font-size:32px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center; 
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 90px;
    height: 50px;
    border: none;
    background-color: #E8231A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    margin-left: -280px;
}

span{
    font-size: 16px;
    color: #E8231A;
    margin-top: 15px;
}

.forgotpassword{
    display: flex;
    width:370px;
    margin-bottom: 15px;
    margin-top:15px;
}

label {
    display: flex;
    margin-left: -280px;
}