
.regtit{
    font-size:45px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.centerr{
  margin-top: 15px;
}

.auth{
    /* font-size:32px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px; */

}

.registration_form{
    width: 350px;


}



.butoon{
    width: 150px;
    height: 50px;
    border: none;
    background-color: #E8231A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    margin-top:15px;
   
}



.forgotpassword{
    display: flex;
    width:370px;
    margin-bottom: 15px;
    margin-top:15px;
}

.bnrr{
width: 540px;
}