.widgetLarge{
    flex: 2;
    box-shadow: 0px 10px 38px -3px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding:15px;
    justify-content: space-between;
    margin-left: 15px;
    
}

.widgetLargeTitle{
    font-size: 20px;
    font-weight: bold;

}

.widgeLargeTable{
    width: 100%;
    border-spacing: 20px;

}

.widgetLargeTr{
    text-align: left;

}

.widgetLargeButton{
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 17px;

}

.widgetLargeButton.Week{
    background-color: #072329;
}

.widgetLargeButton.Dagen{
    background-color: #E8231A;
}