html{

    overflow-x: hidden;
    
}
.container{
   width:540px;
    display: flex;
    flex-wrap: wrap;
    
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   
    padding-right: 0px; 
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.link{
    text-decoration: none;
}



/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
} */


div#root {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.bm-overlay {
    width: 540px !important;
}

button{
    width: 90px;
    height: 50px;
    border: none;
    background-color: #E8231A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    margin-bottom:20px;
}


textarea{
    text-decoration: none;
    resize: none;
}