.Menu{
    width:540px;
    padding:20px;
    box-shadow: 0px 10px 38px -3px rgba(0,0,0,0.1);
    background-color: #E8231A ;
    color: white;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    align-items: center;
}
.introductieMenuIntro{
    color: white;
    font-weight: 500;
    font-size: 24px;
    
}
.menuBlock{
    width: 540px;
    display: flex;
    border-radius: 15px;
    padding: 20px;
    height: 300px;
    box-shadow: 0px 10px 38px -3px rgba(0,0,0,0.1);
    margin-right:15px;
    margin-top:25px;
    
}

.postblock{
    flex:1;
    margin: 25px 25px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 38px -3px rgba(0,0,0,0.1);
    width:540px;
}

.postContainer{
    margin-top: 15px;
    margin-bottom:50px;
}

.postWeek{
    font-weight: bold;
    font-size: 14px;
    color: grey;
}
