.cpContainerReserv{
    width: 540px;
}
.ReservationButton{
    width: 150px;
    background-color:#E8231A;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.restitle{
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

.cpContainerReserv{
    display: flex;
    flex-direction: column;

}

.inputGpReserv{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.ResIput{
    width:530px;
    height: 50px;
    margin-top: 5px;
}

.dieetw{
    margin-top: 10px;
    margin-bottom: 10px;
}


.cblb{
    margin: 5px;
}